<!--Declaring what type of html the page is in -->
<!DOCTYPE html>
<!-- encapsulates all working parts of webpage(lang="en" is just for accessibility by browsers) -->
<html lang = "en">
    <!-- encases all of the metadata about the page. does not actually publish to page -->
    <head>
        <!-- the short title used for tabs of browsers -->
        <title> My First Webpage</title>
        <!-- allows ascii and special symbols to be used -->
        <meta charset =  "utf-8">
        <!-- Links in any css components needed for the webpage-->
        <link ref = "stylesheet" href = "linkable file">
    </head>
    <!-- Encases all data actually displayed on webpage -->
    <body>
        <!-- References linked webpages or files, with either relative links (/file or directory/file) or absolute links (website.com/image)  -->
        <a href = "odin-links-and-images/"></a>
        <!-- Should be used as main heading of webpage (hierarchy based on number)  -->
        <h1>Hello World!</h1>
        <h2>Hello World!</h2>
        <h3>Hello World!</h3>
        <h4>Hello World!</h4>
        <h5>Hello World!</h5>
        <h6>Hello World!</h6>
        <!-- Used for marked emphasis, which will be reflected in screen readers for visually impaired -->
        <p> <strong>lorem ipsum dolor</strong></p>
        <!-- Used to provide emphasis in a page, similar to using italics in a paper setting-->
        <p> <em>lorem ipsum dolor</em></p>
        <!-- Used to embolden something without providing same emphasis as <strong> does -->
        <p> <b>lorem ipsum dolor</b></p>
    </body>
</html>